@import "compass/css3";

.campaign-header-info-full {
	padding-top: 131px;
	height: 523px;
	.campaign-header-info-centered {
		.site-pads {
			.campaign-main-content {
				padding-top: 25px;
				.logo-holder {
					float: left;
					margin-right: 16px;
				}
				.campaign-titles-social-block {
					h1 {
						font-size: 40px;
						font-weight: bold;
						text-transform: uppercase;
						color: #221f1f;
						letter-spacing: 0.5px;
					}
					.campaign-titles-social-content {
						float: left;
						margin: 15px 0 16px;
						.content-left {
							width: 638px;
							float: left;
							h2 {
								font-size: 30px;
								line-height: 30px;
								font-weight: bold;
								color: #373838;
								span {
									font-weight: normal;
									display: block;
								}
							}
							.add-this {
								margin: 15px 0 44px;
							}
							.btn-block {
								li {
									float: left;
									margin-right: 12px;
									&:last-child {
										margin-right: 0;
									}
								}
							}
						}
						.content-right {
							float: right;
						}
					}
					.recent-activity {
						clear: both;
						position: relative;
						h2 {
							font-size: 18px;
							color: #777373;
							text-transform: uppercase;
							font-weight: bold;
							padding-left: 42px;
						}
						.recent-activity-list {
							background: #f3f3f3;
							border-top: 2px solid #cccccc;
							border-bottom: 2px solid #cccccc;
							margin: 7px 0 0 0;
							overflow: hidden;
							.activity-slide {
								padding: 15px 0;
								> li {
									border-right: 1px solid #bcbcbc;
									overflow: auto;
									float: left;
									display: inlineblock;
									padding: 0 39px;
									width: 300px;
									&:last-child {
										border-right: none;
									}
									.avatar {
										border: 4px solid #d3d3d3;
										@include border-radius( 50px );
										float: left;
										margin: 6px 15px 0 0;
									}
									.recent-activity-content {
										float: left;
										.spledge-name {
											font-size: 17px;
											color: #373838;
											font-weight: bold;
											span {
												color: #FF0000;
												i {
													font-size: 20px;
												}
											}
										}
										.location-time {
											margin: 3px 0 0 0;
											li {
												float: left;
												font-size: 17px; 
												color: #373838;
												border-right: 2px solid #373838;
												font-weight: bold;
												padding: 0 5px;
												&:first-child {
													padding-left: 0;
												}
												&:last-child {
													border: none;
													color: #9b9898;
												}
											}
										}
										.spledge-cats {
											margin: 5px 0 0 0;
											li {
												float: left;
												margin-right: 3px;
												&:last-child {
													margin-right: 0;
												}
											}
										}
									}
								}
							}
						}
						.next-activity {
							position: absolute;
							right: 15px;
							bottom: 42px;
							z-index: 200;
							cursor: pointer;
							&:hover {
								@include opacity( 0.7 );
							}
						}
					}
				}
			}
		}
	}
}
.status-to-date-full {
	@include background-image(linear-gradient(#343333, #141415));
	min-width: 1170px;
	.status-to-date-centered {
		.site-pads {
			h2.status-title {
				font-size: 30px;
				color: #d7d7d7;
				text-transform: uppercase;
				font-weight: bold;
				padding: 24px 0 30px;
				letter-spacing: 0.5px;
			}
			.status-info-block {
				padding-bottom: 50px;
				.status-left {
					width: 478px;
					float: left;
					img {
						padding-top: 20px;
					}
				}
				.status-right {
					display: block;
					background: url("../images/border-repeat-one.jpg") repeat-y left top;
					width: 652px;
					float: right;
					.spledge-info {
						display: block;
						margin: 0 auto;
						text-align: center;
						li {
							display: inline-block;
							width: 164px;
							height: 143px;
							margin-right: 14px;
							@include border-radius( 10px );
							&:last-child {
								margin-right: 0;
							}
						}
						.list-pads {
							padding: 28px 10px 0;
						}
						.grey-box {
							background: #505251;
							font-size: 74px;
							line-height: 49px;
							font-weight: bold;
							color: #FFFFFF;
							span {
								display: block;
								font-weight: normal;
								font-size: 20px;
								text-transform: uppercase;
							}
						}
						.white-box {
							background: #FFFFFF;
							font-size: 74px;
							line-height: 49px;
							font-weight: bold;
							color: #4f5151;
							span {
								display: block;
								font-weight: normal;
								font-size: 20px;
								text-transform: uppercase;

                                &.title-case{
                                    text-transform:none;
                                }
							}

                            
						}
					}
					.status-to-date-bar {
						width: 526px;
						margin: 0 auto;
						.date-goal-block {
							clear: both;
							color: #FFFFFF;
							margin-top: 15px;
							.date-goal-txt {
								text-transform: uppercase;
								font-size: 28px;
								span {
									font-size: 30px;
									font-weight: bold;
									letter-spacing: 0.5px;
								}
								.to-date {
									float: left;
									font-size: 24px;
									span {
										color: #FF0000;
										font-family: 'Open Sans', sans-serif;
									}
								}
								.main-goal {
									float: right;
									font-size: 24px;
								}
							}
						}
						.progressbar-block {
							.progressbar {
								height: 25px;
								border: none;
								margin-top: 5px;
								@include border-radius( 0 );
								.ui-progressbar-value {
									background: #e70000;
									@include border-radius( 0 );
									.progress-label {
								    color: #FFFFFF;
								    float: right;
								    font-size: 16px;
								    font-weight: 100;
								    padding: 0 5px 0 0;
								    &:first-child {
								    	display: none;
								    }
									}
								}
							}
						}
						.performance-block {
							color: #d3d3d3;
							position: relative;
							.tooltip {
								position: absolute;
								background: #FFFFFF;
								@include border-radius( 10px );
								padding: 3px 25px 5px;
								color: #000000;
								font-size: 18px;
								text-transform: uppercase;
								font-weight: bold;
								@include opacity( 0 );
							}
							ul {
								li {
									text-transform: uppercase;
									font-size: 20px;
									float: left;
									padding: 0 25px;

                                    &.title-case{
                                        text-transform:none;
                                    }

									&:first-child {
										padding-left: 0;
										border-right: 1px solid #d3d3d3;
									}
									&:last-child {
										padding-right: 0;
										float: right;
									}
									.list-item-arow {
										font-weight: normal;
										padding: 0 5px;
										position: relative;
										top: -2px;
									}
									.red-txt {
										color: #FF0000;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.campaign-overview-full {
	background: #f3f3f3;
	padding: 70px 0;
	min-width: 1170px;
	.campaign-overview-centered {
		.site-pads {
			.overview-block {
				width: 557px;
				float: left;
				color: #373838;
				h2 {
					font-size: 30px;
					text-transform: uppercase;
					font-weight: bold;
				}
				p {
					font-size: 20px;
					margin-bottom: 10px;
				}
				.more-section {
					display: none;
				}
				.show-hide-btn {
					color: #6c6e6e;
					display: block;
					text-decoration: none;
					font-size: 20px;
					font-weight: bold;
					&:hover {
						color: #19191A;
					}
				}
			}
			.goals-purpose-block {
				width: 557px;
				float: right;
				.total-goals {
					margin: 0 0 25px 0;
					color: #373838;
					border-top: 1px solid #bcbcbc;
					// border-bottom: 1px solid #bcbcbc;
					> li {
						font-size: 20px;
						font-weight: bold;
						border-bottom: 1px solid #bcbcbc;
						padding: 10px 0;
						&:first-child {
							font-size: 28px;
							span {
								color: #FF0000;
							}
						}
						ul {
							margin: 0;
							li {
								float: left;
								font-weight: normal;
								border-right: 1px solid #373838;
								padding: 0 5px;
								&:first-child {
									padding-left: 0;
								}
								&:last-child {
									border: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
.tab-bar-full {
	min-width: 1170px;
	.tab-bar-centered {
		.site-pads {
			.tab-block {
				margin: 0;
				overflow: auto;
				float: left;
				li {
					float: left;
					a {
						display: block;
						font-size: 18px;
						color: #373838;
						text-transform: uppercase;
						font-weight: bold;
						text-decoration: none;
						padding: 10px 17px;
						&:hover {
							color: #151516;
						}
					}
				}
				.active {
					color: #FFFFFF;
					background: #333232;
					&:hover {
						color: #FFFFFF;
					}
				}
			}
			.manage-btn {
				float: right;
				color: #373838;
				background: #ceccc8;
				display: block;
				text-decoration: none;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 22px;
				margin-top: 10px;
				padding: 5px 15px;
				&:hover {
					background: #e0dfdc;
				}
			}
		}
	}
}
.performance-to-date-full {
	@include background-image(linear-gradient(#343333, #141415));
	min-width: 1170px;
	.performance-to-date-centered {
		.site-pads {
			.title {
				background: url( '../images/border-repeat-x.jpg' ) center bottom repeat-x;
				font-size: 30px;
				text-transform: uppercase;
				font-weight: bold;
				color: #d7d7d7;
				padding: 31px 0 14px;
				margin: 0 0 20px 0;
			}
			.performance-row {
				margin-bottom: 40px;
				.performance-block {
					width: 555px;
					background: #2c2d2d;
					&:first-child {
						float: left;
					}
					&:last-child {
						float: right;
					}
					.performance-pads {
						padding: 18px;
						.image-title {
							img {
								float:left;
							}
							h2 {
								float: left;
								color: #FFFFFF;
								text-transform: uppercase;
								font-weight: bold;
								font-size: 30px;
								line-height: 30px;
								padding: 35px 0 0 20px;
								letter-spacing: 0.5px;
								span {
									display: block;
								}
							}
						}
						.countdown-block {
							margin-top: 20px;
							h3.cat-title {
								color: #FFFFFF;
								text-transform: uppercase;
								font-size: 22px;
							}
							.goal-date-block {
								background: #FFFFFF;
								width: 254px;
								overflow: auto;
								@include border-radius( 8px );
								float: left;
								li {
									float: left;
									color: #4f5151;
									text-align: center;
									padding: 15px 24.9px 18px;
									&:first-child {
										border-right: 1px solid #b4b4b4;
									}
									span {
										display: block;
									}
									.lrg-txt {
										font-size: 55px;
										font-weight: bold;
										line-height: 42px;
									}
									.medium-txt {
										font-size: 22px;
										font-weight: bold;
									}
									.small-txt {
										font-size: 18px;
										line-height: 10px;
										text-transform: uppercase;
									}
								}
							}
							.spledge-count {
								float: right;
								width: 254px;
								text-align: center;
								li {
									float: left;
									margin-right: 10px;
									background: #363636;
									padding: 18px 0 25px;
									width: 121px;
									color: #FFFFFF;
									@include border-radius( 8px );
									&:last-child {
										margin-right: 0;
									}
									.lrg-txt {
										font-size: 55px;
										font-weight: bold;
										line-height: 53px;
										display: block;
									}
									.small-txt {
										font-size: 18px;
										line-height: 10px;
										text-transform: uppercase;	
									}
								}
							}
						}
						.view-campaign {
							float: right;
							margin: 30px 0 20px;
						}
					}
				}
			}
		}
	}
}
.top-spledgers-full {
	background: #f3f3f3;
	min-width: 1170px;
	.top-spledgers-centered {
		.site-pads {
			.title-btn-block {
				padding: 30px 0;
				h2 {
					font-size: 30px;
					text-transform: uppercase;
					color: #221f1f;
					font-weight: bold;
					letter-spacing: 0.5px;
					float: left;
				}
				.see-all-btn {
					font-size: 22px;
					color: #FFFFFF;
					font-weight: bold;
					text-transform: uppercase;
					background: #9f9d9a;
					padding: 5px 30px;
					text-decoration: none;
					float: right;
					&:hover {
						background: #b2b1af;
					}
				}
			}
			.top-spledger-list {
				border-bottom: 1px solid #b6b6b6;
				> li {
					width: 555px;
					position: relative;
					background: #FFFFFF;
					margin-bottom: 30px;
					&:nth-child(1n) {
						float: left;
					}
					&:nth-child(2n) {
						float: right;
					}
					.ranking {
						position: absolute;
						color: #d3d3d3;
						font-size: 30px;
						font-weight: bold;
						top: 0;
						left: 9px;
					}
					.spledge-img-info {
						padding: 20px 50px;
						.img-name-block {
							float: left;
							img {
								@include border-radius( 50px );
								border: 7px solid #d3d3d3;
								float: left;
							}
							.name-city-block {
								float: left;
								margin-left: 15px;
								h3 {
									font-size: 24px;
									color: #373838;
									text-transform: uppercase;
									font-weight: bold;
								}
								.city-state-slogan {
									font-size: 20px;
									line-height: 20px;
									color: #707070;
									span {
										display: block;
									}
								}
							}
						}
						.cat-icon {
							float: right;
						}
					}
					.support-info-block {
						border-top: 1px solid #dddddd;
						text-align: center;
						.support-block {
							width: 49%;
							height: 58px;
						}
						.support-left {
							float: left;
							border-right: 1px solid #dddddd;
							color: #373838;
							font-size: 17px;
							text-transform: uppercase;
							font-weight: bold;
							span {
								color: #FF0000;
								font-size: 30px;
							}
							p {
								line-height: 54px;
							}
						}
						.support-right {
							float: right;
							.cat-badges {
								float: right;
								padding-right: 51px;
								li {
									display: inline-block;
									margin-right: 3px;
									&:last-child {
										margin-right: 0;
									}
								}
							}
						}
					}
				}
			}
			.recent-news-block {
				background: #FFFFFF;
				margin-bottom: 50px;
				.recent-news-pads {
					padding: 40px;
					.news-left {
						width: 571px;
						float: left;
						color: #221f1f;
						h2 {
							font-size: 35px;
							line-height: 38px;
							text-transform: uppercase;
							letter-spacing: 0.5px;
							font-weight: bold;
						}
						.post-data {
							display: block;
							font-size: 18px;
							text-transform: uppercase;
							margin-bottom: 15px;
						}
						p {
							font-size: 19px;
						}
						.post-more {
							margin-bottom: 0;
							li {
								float: left;
								border-right: 1px solid #221f1f;
								padding: 0 8px;
								font-size: 20px;
								&:first-child {
									padding-left: 0;
								}
								&:last-child {
									border: none;
								}
								a {
									text-decoration: none;
									font-weight: bold;
									color: #898989;
									&:hover {
										color: #221f1f;
									}
								}
							}
						}
					}
					.post-thumbnail {
						float: right;
					}
				}
			}
		}
	}
}