.background-full {

        padding-top: 145px;
	    background-image: linear-gradient(#343333, #141415);
        
        h1 {
			font-size: 50px;
			text-transform: uppercase;
			color: #FFFFFF;
			letter-spacing: 0.5px;
			font-weight: bold;
			margin-bottom: 15px;
		}

        h2
        {
            color: #d3d3d3;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

		.standard-form {
            
            margin-top: 30px;

			.forgot-password
            {
                color: #9f9d9a;
                font-weight: bold;
                font-size:18px;
                padding-left :10px;
			}

			.label
            {
                color: #969595;
                float: left;
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0.5px;
                line-height: 40px;
                text-transform: uppercase;
                text-align: right;
                width: 200px;
                padding-bottom: 15px;
			}

            .input-text
            {
                color: #FFFFFF;
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0.5px;
                background: no-repeat scroll right center #9f9d9a;
            }

            .select-option
            {
                color: #FFFFFF;
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0.5px;
                background: no-repeat scroll right center #9f9d9a;
            }

            .input-pad
            {
                padding-left: 15px;
                float: left;
            }

            .form-btn
            {
                padding: 0px 0px 25px 215px;
            }

            .org-option
            {
                padding-bottom: 25px;
                .select-org
                {
                    color: #ffffff;
                    font-size: 22px;
                    font-weight: bold;
                    letter-spacing: 0.8px;
                    padding-left: 19%;
                    text-transform: uppercase;
                    cursor: pointer;
                    span
                    {
		               padding-left: 30px;
                       background: url("../../images/spledge/unselected-check.png") no-repeat scroll left 4px rgba(0, 0, 0, 0);
                    }
                }
            }

            .selected .select-org span {
                background: url("../../images/spledge/selected-check.png") no-repeat scroll left 4px rgba(0, 0, 0, 0);
            }

            .error-messages
            {
                margin-left: 21%;
                margin-bottom: 50px;
                
                li
                {
                    list-style-type: square;
                    color: #F8981D;
                    font-weight: bold;
                    font-size:18px;
                    padding-bottom: 5px;
                }
            }
	    }
}