.modal-dialog {
padding-top: 80px !important;
}

.row {
padding-bottom: 15px;
}

.divDescription {
max-width: 200px;
text-overflow: ellipsis;
overflow: hidden;
}

/*for add dollar sign in price text box*/
.inner-addon {
    position: relative;

    .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }
}

.left-addon
{
    .glyphicon {
        left: 0px;
    }

    input {
        padding-left: 30px;
    }

}

.usd {
content: "\E228";
}
