/* line 2, ../scss/campaign-overview.scss */
.overview-block-full {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0MzMzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343333), color-stop(100%, #141415));
  background-image: -moz-linear-gradient(#343333, #141415);
  background-image: -webkit-linear-gradient(#343333, #141415);
  background-image: linear-gradient(#343333, #141415);
  min-width: 1170px; }
/* line 8, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block {
  background: #2E302F;
  margin-bottom: 32px; }
/* line 11, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block:first-child {
  margin-top: 32px; }
/* line 14, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads {
  padding: 14px 10px 10px 28px; }
/* line 16, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .image-holder {
  float: left;
  text-transform: uppercase;
  text-align: center; }
/* line 20, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .image-holder .program-number {
  font-size: 17px;
  color: #d3d3d3;
  font-weight: bold;
  margin-bottom: 10px; }
/* line 27, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .image-holder img {
  width: 250px; }
/* line 31, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .image-holder h2, .overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .image-holder span {
  color: #FFFFFF; }
/* line 35, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .image-holder h2 {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 20px; }
/* line 41, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .image-holder span {
  font-size: 18px;
  letter-spacing: 0.5px; }
/* line 46, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info {
  float: left;
  width: 768px;
  background: url("../images/border-repeat-one.jpg") top left repeat-y;
  margin-left: 10px; }
/* line 51, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads {
  position: relative;
  padding: 0 0 0 10px; }
/* line 54, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads h2 {
  font-size: 27px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #FFFFFF; }
/* line 62, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads > p {
  color: #d3d3d3;
  font-size: 15px;
  margin: 7px 0 14px; }
/* line 67, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table {
  width: 100%;
  position: relative; }
/* line 70, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody {
  text-transform: uppercase; }
/* line 72, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody tr.titles {
  background: #62a744;
  border-bottom: 3px solid #2E2F2F; }
/* line 75, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody tr.titles th {
  width: 291px;
  color: #FFFFFF;
  font-size: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold; }
/* line 82, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody tr.titles th:first-child {
  background: url("../images/clip-board-icon.jpg") center left no-repeat;
  padding: 9px 0 12px 0;
  text-indent: 59px;
  background-position: 5px; }
/* line 88, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody tr.titles th:last-child {
  background: url("../images/money-icon.jpg") center left no-repeat;
  padding: 9px 0 12px 40px; }
/* line 94, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody tr.info {
  background: #EEEEEE; }
/* line 96, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody tr.info td {
  position: relative;
  color: #383838;
  font-size: 16px;
  padding: 4px 0 4px 6px; }
/* line 101, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody tr.info td:first-child {
  padding: 4px 0 4px 19px;
  border-right: 1px solid #8a8a8a; }
/* line 107, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody .one {
  border-bottom: 1px solid #8a8a8a; }
/* line 111, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody .two .tooltip-block {
  width: 305px;
  top: 31px;
  left: -310px; }
/* line 115, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .performance-table tbody .two .tooltip-block .right-arrow {
  top: 44%;
  right: -10px; }
/* line 123, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .goal-table {
  margin-top: 15px !important; }
/* line 127, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .goal-table tbody tr:last-child {
  background: #FFFFFF !important; }
/* line 129, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .goal-table tbody tr:last-child td {
  font-weight: bold !important;
  text-transform: uppercase !important; }
/* line 136, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .goal-table tbody tr.titles th {
  background: none !important;
  text-indent: 24px !important; }
/* line 141, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .goal-table tbody tr.info {
  border-bottom: 1px solid #8A8A8A !important; }
/* line 144, ../scss/campaign-overview.scss */
.overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads .goal-table tbody .four {
  border-bottom: none !important; }
