/* line 3, ../scss/campaigns.scss */
.campagin-header-full {
  min-width: 1170px; }
/* line 6, ../scss/campaigns.scss */
.campagin-header-full .campagin-img-full {
  height: auto;
  padding: 131px 0 78px;
  background: url("../images/campaigns/money-header.jpg") center top/cover no-repeat; }
/* line 14, ../scss/campaigns.scss */
.campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full {
  width: 1014px;
  background: rgba(0, 0, 0, 0.2);
  margin: 48px auto 0; }
/* line 19, ../scss/campaigns.scss */
.campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads {
  padding: 35px 25px; }
/* line 22, ../scss/campaigns.scss */
.campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 0.5px;
  font-weight: bold;
  float: left; }
/* line 31, ../scss/campaigns.scss */
.campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads h2 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-right: 15px; }
/* line 41, ../scss/campaigns.scss */
.campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads #campaign-form {
  float: right;
  margin-top: 10px; }
/* line 45, ../scss/campaigns.scss */
.campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads #campaign-form .campaign-title, .campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads #campaign-form .campaign-city {
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #A7A29A;
  border-left: none;
  color: #A7A29A;
  float: left;
  padding: 9px 0; }
/* line 57, ../scss/campaigns.scss */
.campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads #campaign-form .campaign-title {
  width: 308px;
  text-indent: 9px;
  border-right: 1px solid #A7A29A; }
/* line 63, ../scss/campaigns.scss */
.campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads #campaign-form .campaign-city {
  background: url("../images/map-icon.png") 10px center no-repeat;
  padding-left: 35px; }
/* line 68, ../scss/campaigns.scss */
.campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads #campaign-form .submit-icon {
  color: #878788;
  font-size: 20px;
  padding-top: 4px; }

/* line 82, ../scss/campaigns.scss */
.grey-bar-full {
  background: #464646;
  padding: 21px 0;
  min-width: 1170px; }
/* line 89, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads .filter-list {
  margin: 0;
  float: left; }
/* line 93, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads .filter-list:before {
  content: "Filter:";
  float: left;
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
  position: relative;
  top: 4px; }
/* line 105, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads .filter-list li {
  float: left;
  margin-right: 10px; }
/* line 109, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads .filter-list li:last-child {
  margin-right: 0; }
/* line 113, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads .filter-list li a {
  display: block;
  text-decoration: none;
  background: #9f9d9a;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 5px 15px; }
/* line 124, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads .filter-list li a:hover {
  background: #61605F; }
/* line 129, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads .filter-list li .active-green {
  background: #62a744; }
/* line 133, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads .filter-list li .active-blue {
  background: #6daede; }
/* line 137, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads .filter-list li .active-pink {
  background: #d4558b; }
/* line 143, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads #filter-form {
  float: right;
  overflow: hidden; }
/* line 147, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads #filter-form select {
  background: #9f9d9a url("../images/campaigns/dropdown-arrow.jpg") right center no-repeat;
  border: none !important;
  outline: medium none !important;
  display: inline-flex !important;
  height: 38px !important;
  width: 180px;
  text-indent: 10px;
  vertical-align: top;
  -webkit-appearance: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Open Sans Condensed',Helvetica,Arial,sans-serif;
  margin-left: 10px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
/* line 165, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads #filter-form select:first-child {
  margin-left: 0; }
/* line 170, ../scss/campaigns.scss */
.grey-bar-full .grey-bar-centered .site-pads #filter-form select[disabled] {
  background: #61605f url("../images/campaigns/dropdown-arrow-disabled.jpg") right center no-repeat;
  color: #b0b0b0; }

/* line 179, ../scss/campaigns.scss */
.campagin-blocks-full {
  background: #e0dfdf;
  padding: 77px 0 43px 0;
  min-width: 1170px; }
/* line 186, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row {
  margin-bottom: 30px; }
/* line 189, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block {
  width: 555px;
  background: #FFFFFF;
  margin: 0 0 20px 0;
                    /*&:first-child {
                        float: left;
                    }

                    &:last-child {
                        float: right;
                    }*/ }
/* line 203, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .top-bar span {
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
  font-weight: bold;
  padding: 0 5px;
  text-align: right;
  text-transform: uppercase;
  display: block; }
/* line 214, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content {
  color: #373838;
  padding: 10px 14px 20px 14px; }
/* line 218, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content h2 {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin-bottom: 10px; }
/* line 226, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .logo-holder {
  float: left; }
/* line 230, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info {
  width: 375px;
  float: right; }
/* line 234, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 10px;
  margin: 0; }
/* line 242, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info h3 span {
  display: block;
  font-weight: normal; }
/* line 249, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campagin-details li {
  font-size: 20px;
  text-transform: uppercase; }
/* line 254, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campagin-details li:last-child span {
  float: none; }
/* line 259, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campagin-details li span {
  float: right;
  font-weight: bold; }
/* line 264, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campagin-details li .red-txt {
  color: #ff0000; }
/* line 268, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campagin-details li .green-txt {
  color: #6db447; }
/* line 274, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campaign-btns {
  margin: 0 10px 0 0; }
/* line 277, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campaign-btns li {
  float: left;
  margin-right: 9px; }
/* line 281, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campaign-btns li .red-btn {
  font-size: 18px; }
/* line 285, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campaign-btns li .follow-btn {
  font-size: 18px; }
/* line 289, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campaign-btns li .follow-white-btn {
  font-size: 18px !important; }
/* line 293, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info .campaign-btns li:last-child {
  margin-right: 0; }
/* line 303, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .pagination {
  margin: 40px 0 0 0;
  text-align: center;
  font-size: 22px;
  color: #909090; }
/* line 309, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer; }
/* line 315, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .pagination li:hover {
  color: #565556; }
/* line 320, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .pagination .active-page {
  background: #565556;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF; }
/* line 325, ../scss/campaigns.scss */
.campagin-blocks-full .campagin-blocks-centered .site-pads .pagination .active-page:hover {
  color: #FFFFFF; }
