/* line 3, ../scss/classes.scss */
.container-1170 {
  width: 1170px;
  position: relative;
  margin: 0 auto;
  text-align: left; }

/* line 10, ../scss/classes.scss */
.site-pads {
  padding: 0 15px; }

/* line 14, ../scss/classes.scss */
.container-full {
  width: 100%;
  position: relative;
  text-align: center; }

/* line 20, ../scss/classes.scss */
.clear {
  clear: both; }

/* line 24, ../scss/classes.scss */
.alignleft {
  float: left;
  margin: 5px 10px 10px 0px; }

/* line 29, ../scss/classes.scss */
.alignright {
  float: right;
  margin: 5px 0px 10px 10px; }

/* line 34, ../scss/classes.scss */
.aligncenter {
  display: block;
  text-align: center;
  margin: 10px auto; }

/* line 40, ../scss/classes.scss */
.animation {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* line 44, ../scss/classes.scss */
.red-btn {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3MDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I1MDYwNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e70000), color-stop(100%, #b50606));
  background-image: -moz-linear-gradient(#e70000, #b50606);
  background-image: -webkit-linear-gradient(#e70000, #b50606);
  background-image: linear-gradient(#e70000, #b50606);
  color: #FFFFFF;
  text-decoration: none;
  font-size: 21px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 5px 20px 7px;
  display: inline-block; }
/* line 52, ../scss/classes.scss */
.red-btn:hover {
  background: #e70000; }

/* line 57, ../scss/classes.scss */
.visible-desktop {
  display: block !important; }

/* line 61, ../scss/classes.scss */
.hidden-desktop {
  display: none !important; }

/* line 65, ../scss/classes.scss */
.open-sans-normal {
  font-family: 'Open Sans', sans-serif; }

/* line 69, ../scss/classes.scss */
.green-bg {
  background: #6db447 !important; }

/* line 73, ../scss/classes.scss */
.blue-bg {
  background: #6daede !important; }

/* line 77, ../scss/classes.scss */
.dark-blue-bg {
  background: #005581 !important; }

/* line 81, ../scss/classes.scss */
.pink-bg {
  background: #d4558b !important; }

/* line 85, ../scss/classes.scss */
.grey-bg {
  background: #9f9d9a !important; }

/* line 89, ../scss/classes.scss */
.turquoise-bg {
  background: #1fdced !important; }

/* line 93, ../scss/classes.scss */
.yellow-bg {
  background: #f1d801 !important; }

/* line 97, ../scss/classes.scss */
.orange-bg {
  background: #f8981d !important; }

/* line 101, ../scss/classes.scss */
.follow-btn {
  background: #5ca139 url("../images/campaigns/follow-star.png") 25px center no-repeat;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 21px;
  padding: 5px 37px 7px 60px;
  display: inline-block; }
/* line 108, ../scss/classes.scss */
.follow-btn:hover {
  background: #6eb44a url("../images/campaigns/follow-star.png") 25px center no-repeat; }

/* line 113, ../scss/classes.scss */
.follow-white-btn {
  background: #FFFFFF url("../images/campaign-landing/follow-star-green.png") 25px center no-repeat;
  color: #5ca139;
  text-decoration: none;
  font-size: 21px;
  padding: 3px 37px 5px 60px;
  display: inline-block;
  border: 2px solid #5ca139; }
/* line 121, ../scss/classes.scss */
.follow-white-btn:hover {
  background: #EEEEEE url("../images/campaign-landing/follow-star-green.png") 25px center no-repeat; }

/* line 126, ../scss/classes.scss */
.spledgehammer-btn {
  background: #f8981d url("../images/campaign-landing/spledgehammer-icon.png") 10px center no-repeat;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 21px;
  padding: 5px 21px 7px 70px;
  display: inline-block; }
/* line 133, ../scss/classes.scss */
.spledgehammer-btn:hover {
  background: #faa130 url("../images/campaign-landing/spledgehammer-icon.png") 10px center no-repeat; }

/* line 138, ../scss/classes.scss */
.red-txt {
  color: #FF0000 !important; }

/* line 142, ../scss/classes.scss */
.green-txt {
  color: #5ca139 !important; }

/* line 146, ../scss/classes.scss */
.tooltip {
  background: url("../images/tooltip-icon.jpg") center right no-repeat;
  padding-right: 22px;
  cursor: pointer; }

/* line 152, ../scss/classes.scss */
.tooltip-block {
  position: relative;
  background: #EEEEEE;
  position: absolute;
  z-index: 100;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden; }
/* line 161, ../scss/classes.scss */
.tooltip-block .tooltip-pads {
  padding: 10px 20px 20px 20px; }
/* line 163, ../scss/classes.scss */
.tooltip-block .tooltip-pads p {
  text-transform: capitalize;
  font-size: 16px; }
/* line 168, ../scss/classes.scss */
.tooltip-block .right-arrow {
  position: absolute;
  z-index: 100;
  background: #EEEEEE;
  width: 20px !important;
  height: 20px !important;
  display: block;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-box-shadow: 6px -3px 10px -5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 6px -3px 10px -5px rgba(0, 0, 0, 0.8);
  box-shadow: 6px -3px 10px -5px rgba(0, 0, 0, 0.8); }

/* line 179, ../scss/classes.scss */
.active-tooltip {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible; }

/* line 184, ../scss/classes.scss */
.border-bottom {
  background: url("../images/border-repeat-x.jpg") bottom left repeat-x;
  padding-bottom: 10px; }
