/* ------------------------ type selectors ------------------------ */
/* line 3, ../scss/main.scss */
body, html {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%; }

/* line 12, ../scss/main.scss */
body {
  text-align: center;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: #201f1f; }

/* line 19, ../scss/main.scss */
p {
  line-height: 1.5em; }

/* ------------------------ content framework ------------------------ */
/* line 25, ../scss/main.scss */
.content {
  position: relative; }
/* line 27, ../scss/main.scss */
.content ol, .content dl {
  margin: 0 0 20px 37px;
  line-height: 1.5em; }
/* line 32, ../scss/main.scss */
.content ul {
  margin: 0 0 20px 20px;
  line-height: 1.5em; }
/* line 35, ../scss/main.scss */
.content ul li {
  list-style: none;
  background: url("images/bullet.png") 0 4px no-repeat;
  padding-left: 17px; }
/* line 41, ../scss/main.scss */
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin: 10px 0px;
  clear: both;
  font-weight: normal;
  color: #252525; }
/* line 52, ../scss/main.scss */
.content h1 {
  margin-top: 0;
  font-size: 30px;
  color: #252525; }
/* line 57, ../scss/main.scss */
.content h2 {
  font-size: 26px; }
/* line 60, ../scss/main.scss */
.content h3 {
  font-size: 24px; }
/* line 63, ../scss/main.scss */
.content h4, .content h5, .content h6 {
  font-size: 22px; }
