/* line 2, ../scss/sign-up.scss */
.sign-up-full {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzIzMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333232), color-stop(100%, #141415));
  background-image: -moz-linear-gradient(#333232, #141415);
  background-image: -webkit-linear-gradient(#333232, #141415);
  background-image: linear-gradient(#333232, #141415); }
/* line 4, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered {
  padding: 160px 0 40px; }
/* line 6, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding-bottom: 10px;
  background: url("../images/border-repeat-x.jpg") left bottom repeat-x; }
/* line 16, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left {
  width: 48%;
  float: left; }
/* line 19, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left h2 {
  font-size: 38px;
  margin: 0 0 0 0;
  color: #FFFFFF; }
/* line 24, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form {
  color: #FFFFFF; }
/* line 27, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul li {
  clear: both;
  margin-bottom: 10px; }
/* line 30, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul li label {
  color: #FFFFFF;
  font-size: 22px;
  display: block;
  margin-bottom: 7px; }
/* line 35, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul li label .required {
  color: #FF0000; }
/* line 39, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul li .checkbox-txt {
  color: #FFFFFF;
  font-size: 22px;
  display: block;
  margin-bottom: 7px; }
/* line 45, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul li input {
  width: 100%;
  border: none;
  background: #FFFFFF;
  border: none;
  padding: 13px 0;
  text-indent: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
/* line 54, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul li select {
  width: 100%;
  border: none;
  background: #FFFFFF;
  border: none;
  padding: 12px 0;
  text-indent: 4px;
  color: #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
/* line 66, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul .row-form li {
  float: left;
  clear: none;
  margin-right: 16px; }
/* line 70, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul .row-form li:last-child {
  margin-right: 0; }
/* line 75, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul .checkbox-block {
  margin-top: 20px; }
/* line 77, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul .checkbox-block input {
  width: auto;
  float: left;
  margin: 9px 10px 0 0px; }
/* line 83, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul .submit {
  display: block;
  margin-top: 25px; }
/* line 86, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul .submit input {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3MDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I1MDYwNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e70000), color-stop(100%, #b50606));
  background-image: -moz-linear-gradient(#e70000, #b50606);
  background-image: -webkit-linear-gradient(#e70000, #b50606);
  background-image: linear-gradient(#e70000, #b50606);
  color: #FFFFFF;
  text-decoration: none;
  font-size: 21px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 5px 20px 7px;
  display: inline-block;
  width: auto;
  text-indent: 0;
  text-shadow: none; }
/* line 97, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-left #contact-form ul .submit input:hover {
  background: #e70000; }
/* line 105, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-right {
  width: 48%;
  float: right;
  color: #FFFFFF; }
/* line 110, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-right strong {
  font-size: 25px;
  margin-top: 15px;
  display: block;
  color: #F8981D; }
/* line 116, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-right p {
  font-size: 18px;
  letter-spacing: 0.3px; }
/* line 119, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-right p span {
  font-weight: bold;
  text-transform: uppercase;
  color: #6DB447; }
/* line 125, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-right .grey-box {
  background: #2A292A;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #1F1F20; }
/* line 129, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-right .grey-box .grey-box-pads {
  padding: 20px 20px 25px; }
/* line 133, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-right ul {
  margin: 0; }
/* line 135, ../scss/sign-up.scss */
.sign-up-full .sign-up-centered .sign-up-right ul li {
  font-size: 18px; }
