/* line 3, ../scss/support-options.scss */
.support-options-full {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0MzMzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343333), color-stop(100%, #141415));
  background-image: -moz-linear-gradient(#343333, #141415);
  background-image: -webkit-linear-gradient(#343333, #141415);
  background-image: linear-gradient(#343333, #141415);
  min-width: 1170px; }
/* line 8, ../scss/support-options.scss */
.support-options-full .support-options-centered .site-pads {
  position: relative;
  text-align: center;
  color: #FFFFFF; }
/* line 13, ../scss/support-options.scss */
.support-options-full .support-options-centered .site-pads h2 {
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 10px; }
/* line 20, ../scss/support-options.scss */
.support-options-full .support-options-centered .site-pads h2 span {
  display: block; }
/* line 25, ../scss/support-options.scss */
.support-options-full .support-options-centered .site-pads p {
  font-size: 21px;
  line-height: 27px;
  padding-bottom: 25px; }
/* line 31, ../scss/support-options.scss */
.support-options-full .support-options-centered .site-pads .how-it-works-img {
  position: absolute;
  bottom: 15px;
  right: 140px; }

/* line 40, ../scss/support-options.scss */
.support-options-selections-full {
  background: #f3f3f3;
  min-width: 1170px; }
/* line 46, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .support-list {
  margin: 30px auto;
  text-align: center;
  width: 757px; }
/* line 51, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .support-list li {
  width: 350px;
  color: #2e2e2e; }
/* line 55, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .support-list li:first-child {
  float: left; }
/* line 59, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .support-list li:last-child {
  float: right; }
/* line 63, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .support-list li img {
  width: 120px;
  height: auto; }
/* line 68, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .support-list li h3 {
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  margin: 10px 0 0 0; }
/* line 75, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .support-list li p {
  font-size: 20px;
  line-height: 24px; }
/* line 80, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .support-list li .read-more {
  color: #818181;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold; }
/* line 86, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .support-list li .read-more:hover {
  color: #2e2e2e; }
/* line 93, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .spledgehammer-img {
  margin: 0 auto;
  display: block; }
/* line 98, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .find-campaigns-btn {
  text-align: center;
  margin: 0 auto 50px; }
/* line 102, ../scss/support-options.scss */
.support-options-selections-full .support-options-selections-centered .site-pads .find-campaigns-btn .red-btn {
  font-size: 24px; }
