@media screen and (max-width: 1300px) {
  /* line 9, ../scss/tablet.scss */
  .program-img-full:before, .campagin-img-full:before, .video-holder-img:before, .short-slideshow-img:before, .fundraising-facts-full-img:before, .make-difference-full-img:before {
    display: none; } }
@media screen and (max-height: 657px) {
  /* line 18, ../scss/tablet.scss */
  .vid-popup {
    display: none; }

  /* line 28, ../scss/tablet.scss */
  .challenge-accepted-full .challenge-accepted-full-img .challenge-accepted-centered .site-pads .block-one-txt ul li:first-child {
    margin-left: 0; }
  /* line 33, ../scss/tablet.scss */
  .challenge-accepted-full .challenge-accepted-full-img .challenge-accepted-centered .site-pads .block-one-txt ul li.watch-video a {
    display: block; } }
@media only screen and (max-width: 891px) {
  /* line 51, ../scss/tablet.scss */
  header .nav-bar-full .nav-bar-centered .site-pads .logo {
    width: 25%;
    margin-top: 9px; }
  /* line 54, ../scss/tablet.scss */
  header .nav-bar-full .nav-bar-centered .site-pads .logo img {
    width: 100%; }
  /* line 62, ../scss/tablet.scss */
  header .nav-bar-full .nav-bar-centered .site-pads .nav-search-block nav ul li a {
    padding: 16px !important; } }
@media only screen and (max-width: 1087px) {
  /* line 86, ../scss/tablet.scss */
  header .nav-bar-full .nav-bar-centered .site-pads .nav-search-block nav ul li a {
    padding: 16px 22px;
    font-size: 16px; } }
@media only screen and (max-width: 1170px) {
  /*-------------- Type Selectors --------------*/
  /* line 105, ../scss/tablet.scss */
  body {
    min-width: 767px; }

  /*-------------- Classes --------------*/
  /* line 111, ../scss/tablet.scss */
  .visible-tablet {
    display: block !important; }

  /* line 115, ../scss/tablet.scss */
  .hidden-tablet {
    display: none !important; }

  /* line 119, ../scss/tablet.scss */
  .container-1170 {
    width: auto; }

  /*-------------- Global blocks --------------*/
  /* line 125, ../scss/tablet.scss */
  .short-block-slideshow-full {
    padding-top: 0;
    min-width: 767px; }
  /* line 128, ../scss/tablet.scss */
  .short-block-slideshow-full #slide-nav {
    bottom: 320px; }
  /* line 137, ../scss/tablet.scss */
  .short-block-slideshow-full .slideshow-short .short-slideshow-img .short-slideshow-bar-full .short-slideshow-centered .site-pads .bar-left .short-slide-bar-txt {
    width: 460px; }

  /* line 147, ../scss/tablet.scss */
  .pick-block-full {
    min-width: 767px; }
  /* line 152, ../scss/tablet.scss */
  .pick-block-full .pick-block-centered .site-pads .pick-block-options ul {
    width: auto;
    text-align: center; }
  /* line 155, ../scss/tablet.scss */
  .pick-block-full .pick-block-centered .site-pads .pick-block-options ul li {
    float: none;
    display: inline-block;
    margin-right: 9px; }
  /* line 159, ../scss/tablet.scss */
  .pick-block-full .pick-block-centered .site-pads .pick-block-options ul li a {
    width: 94px; }

  /* line 168, ../scss/tablet.scss */
  .notification-full {
    min-width: 767px;
    padding-top: 20px; }

  /* line 172, ../scss/tablet.scss */
  .tab-bar-full, .grey-bar-full {
    min-width: 767px; }

  /* line 179, ../scss/tablet.scss */
  .grey-bar-full .grey-bar-centered .site-pads .filter-list {
    float: none; }
  /* line 182, ../scss/tablet.scss */
  .grey-bar-full .grey-bar-centered .site-pads #filter-form {
    float: none;
    margin: 15px 0 0 109px; }

  /* line 189, ../scss/tablet.scss */
  .green-bar-full {
    min-width: 767px; }

  /*-------------- header --------------*/
  /* line 195, ../scss/tablet.scss */
  .home header {
    position: absolute;
    width: 100%; }

  /* line 201, ../scss/tablet.scss */
  header .sticky-header {
    position: relative; }
  /* line 205, ../scss/tablet.scss */
  header .nav-bar-full .nav-bar-centered {
    width: auto; }
  /* line 209, ../scss/tablet.scss */
  header .nav-bar-full .nav-bar-centered .site-pads .nav-search-block .search-icon {
    display: none; }
  /* line 218, ../scss/tablet.scss */
  header .nav-bar-full .nav-bar-centered .site-pads .nav-search-block nav > ul > li .dropdown-nav-block .dropdown-centered .dropdown-rows ul {
    margin: 0 35px 0 0; }
  /* line 221, ../scss/tablet.scss */
  header .nav-bar-full .nav-bar-centered .site-pads .nav-search-block nav > ul > li .dropdown-nav-block .dropdown-centered .dropdown-rows ul li a {
    padding: 0 16px !important; }

  /*-------------- home --------------*/
  /* line 240, ../scss/tablet.scss */
  .challenge-accepted-full {
    padding-top: 0;
    min-width: 767px; }
  /* line 243, ../scss/tablet.scss */
  .challenge-accepted-full .challenge-accepted-full-img {
    height: 100% !important;
    min-height: 525px !important; }
  /* line 248, ../scss/tablet.scss */
  .challenge-accepted-full .challenge-accepted-full-img .challenge-accepted-centered .site-pads .block-one-txt {
    padding: 5% 0 0 0; }
  /* line 250, ../scss/tablet.scss */
  .challenge-accepted-full .challenge-accepted-full-img .challenge-accepted-centered .site-pads .block-one-txt h1 {
    font-size: 55px;
    margin-bottom: 0; }
  /* line 254, ../scss/tablet.scss */
  .challenge-accepted-full .challenge-accepted-full-img .challenge-accepted-centered .site-pads .block-one-txt p {
    font-size: 25px; }
  /* line 257, ../scss/tablet.scss */
  .challenge-accepted-full .challenge-accepted-full-img .challenge-accepted-centered .site-pads .block-one-txt ul {
    margin: 20px 0 25px; }
  /* line 267, ../scss/tablet.scss */
  .challenge-accepted-full .black-bar-full .black-bar-centered .site-pads .giant-form-block {
    width: auto; }
  /* line 270, ../scss/tablet.scss */
  .challenge-accepted-full .black-bar-full .black-bar-centered .site-pads .giant-form-block #campaign-form .campaign-title {
    width: 37%; }

  /* line 279, ../scss/tablet.scss */
  .make-difference-full {
    min-width: 767px; }
  /* line 281, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img {
    height: auto !important;
    min-height: 0 !important;
    padding: 30px 0; }
  /* line 287, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads #slide-nav-campaigns {
    display: none; }
  /* line 290, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads h2.title {
    padding-top: 0; }
  /* line 295, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate {
    width: 49%; }
  /* line 297, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .canidate-pads {
    padding: 9px 19px !important; }
  /* line 299, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .canidate-pads h2 {
    font-size: 23px; }
  /* line 303, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .canidate-pads .logo-description-block > a {
    width: 30%; }
  /* line 305, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .canidate-pads .logo-description-block > a img {
    width: 100%; }
  /* line 309, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .canidate-pads .logo-description-block .canidate-name-block {
    padding-left: 12px !important; }
  /* line 311, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .canidate-pads .logo-description-block .canidate-name-block h3 {
    font-size: 22px !important;
    line-height: 30px !important; }
  /* line 316, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .canidate-pads .logo-description-block .canidate-name-block .timer-view-block li {
    font-size: 19px !important; }
  /* line 318, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .canidate-pads .logo-description-block .canidate-name-block .timer-view-block li a {
    top: 3px !important; }
  /* line 327, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .date-goal-block .date-goal-txt {
    font-size: 20px !important; }
  /* line 329, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .date-goal-block .date-goal-txt span {
    font-size: 29px !important; }
  /* line 336, ../scss/tablet.scss */
  .make-difference-full .make-difference-full-img .make-difference-centered .site-pads .difference-rotate-block .difference-rotate .difference-candiate .performance-block ul li {
    float: none !important;
    border: none !important;
    padding: 0 !important;
    display: block !important;
    font-size: 18px; }

  /* line 352, ../scss/tablet.scss */
  .button-container-campaign {
    margin-top: 35px; }

  /* line 355, ../scss/tablet.scss */
  .testimonial-block-full {
    min-width: 767px; }
  /* line 359, ../scss/tablet.scss */
  .testimonial-block-full .testimonial-block-centered .site-pads h2 {
    font-size: 30px; }
  /* line 363, ../scss/tablet.scss */
  .testimonial-block-full .testimonial-block-centered .site-pads .testimonial-row .testimonial-block {
    text-align: center;
    width: 33%;
    margin: 0; }
  /* line 367, ../scss/tablet.scss */
  .testimonial-block-full .testimonial-block-centered .site-pads .testimonial-row .testimonial-block .testimonial-pads {
    padding: 0 40px; }
  /* line 369, ../scss/tablet.scss */
  .testimonial-block-full .testimonial-block-centered .site-pads .testimonial-row .testimonial-block .testimonial-pads .testimonial-avatar, .testimonial-block-full .testimonial-block-centered .site-pads .testimonial-row .testimonial-block .testimonial-pads .quote-block {
    float: none; }
  /* line 373, ../scss/tablet.scss */
  .testimonial-block-full .testimonial-block-centered .site-pads .testimonial-row .testimonial-block .testimonial-pads .quote-block {
    width: auto;
    margin: 10px 0 0 0; }
  /* line 376, ../scss/tablet.scss */
  .testimonial-block-full .testimonial-block-centered .site-pads .testimonial-row .testimonial-block .testimonial-pads .quote-block cite {
    margin-top: 6px; }

  /* line 386, ../scss/tablet.scss */
  .fundraising-facts-full {
    min-width: 767px; }
  /* line 388, ../scss/tablet.scss */
  .fundraising-facts-full .fundraising-facts-full-img {
    height: auto !important;
    min-height: 0 !important;
    padding: 30px 0; }
  /* line 394, ../scss/tablet.scss */
  .fundraising-facts-full .fundraising-facts-full-img .fundraising-facts-centered .site-pads h2 {
    padding-top: 0;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px; }
  /* line 400, ../scss/tablet.scss */
  .fundraising-facts-full .fundraising-facts-full-img .fundraising-facts-centered .site-pads p {
    font-size: 28px; }
  /* line 403, ../scss/tablet.scss */
  .fundraising-facts-full .fundraising-facts-full-img .fundraising-facts-centered .site-pads .fundrasing-list-perks {
    margin-top: 15px; }
  /* line 405, ../scss/tablet.scss */
  .fundraising-facts-full .fundraising-facts-full-img .fundraising-facts-centered .site-pads .fundrasing-list-perks li {
    font-size: 21px;
    background-size: 23px auto;
    padding-left: 31px; }
  /* line 411, ../scss/tablet.scss */
  .fundraising-facts-full .fundraising-facts-full-img .fundraising-facts-centered .site-pads .btn-container {
    margin-top: 25px; }

  /*-------------- Build Campaigns --------------*/
  /* line 421, ../scss/tablet.scss */
  .build-campaign-full {
    min-width: 767px; }
  /* line 426, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block {
    background: none; }
  /* line 428, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .campaign-steps {
    width: 33%;
    background: #2E302F;
    min-height: 797px; }
  /* line 433, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .campaign-steps ol li {
    font-size: 21px; }
  /* line 438, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details {
    width: 67%;
    background: #EEEAEA; }
  /* line 441, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details h3 {
    margin-bottom: 10px !important; }
  /* line 444, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block {
    padding-bottom: 0; }
  /* line 446, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form {
    float: none; }
  /* line 448, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .campaign-title {
    float: none; }
  /* line 450, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .campaign-title span {
    float: none;
    display: block;
    margin-bottom: 5px; }
  /* line 455, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .campaign-title input {
    float: none;
    width: 96%; }
  /* line 460, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .type-option-block {
    float: none; }
  /* line 462, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .type-option-block .type-block {
    margin-left: 0; }
  /* line 465, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .type-option-block .type-block {
    float: left; }
  /* line 468, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .type-option-block .option-block {
    float: right; }
  /* line 471, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .type-option-block .option-block, .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .type-option-block .type-block {
    width: 46%; }
  /* line 474, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .type-option-block .option-block span, .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .type-option-block .type-block span {
    float: none;
    display: block;
    margin-bottom: 5px; }
  /* line 479, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .type-option-block .option-block select, .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .build-campaign-form-block form .type-option-block .type-block select {
    margin-left: 0;
    width: 100%; }
  /* line 490, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .fundraising-settings-block form .date-block span {
    float: none;
    display: block;
    width: auto;
    margin-bottom: 5px;
    text-align: left; }
  /* line 497, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .fundraising-settings-block form .date-block select {
    float: none;
    width: 48%;
    display: inline-block; }
  /* line 504, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .fundraising-settings-block form .fundrasing-block span {
    float: none;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: auto; }
  /* line 511, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .fundraising-settings-block form .fundrasing-block input {
    width: 96%; }
  /* line 517, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .fundraising-settings-block form .total-performance span, .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .fundraising-settings-block form .estimated-spledgers span {
    text-align: left;
    width: 144px;
    background: none !important; }
  /* line 522, ../scss/tablet.scss */
  .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .fundraising-settings-block form .total-performance .total-numbers-txt, .build-campaign-full .build-campaign-full-img .build-campaign-centered .site-pads .build-campaing-block .build-campaign-details .fundraising-settings-block form .estimated-spledgers .total-numbers-txt {
    float: none;
    clear: both;
    padding: 15px 0 0 0;
    display: block; }

  /*-------------- Burry Tach --------------*/
  /* line 540, ../scss/tablet.scss */
  .burry-tach-header-full {
    min-width: 767px;
    margin-top: 0;
    padding: 30px 0; }
  /* line 547, ../scss/tablet.scss */
  .burry-tach-header-full .burry-tach-header-centered .site-pads .header-left img {
    width: 100px;
    height: auto; }
  /* line 551, ../scss/tablet.scss */
  .burry-tach-header-full .burry-tach-header-centered .site-pads .header-left .title-intro-block {
    padding-left: 15px;
    width: 41%; }
  /* line 554, ../scss/tablet.scss */
  .burry-tach-header-full .burry-tach-header-centered .site-pads .header-left .title-intro-block h1 {
    font-size: 40px; }
  /* line 557, ../scss/tablet.scss */
  .burry-tach-header-full .burry-tach-header-centered .site-pads .header-left .title-intro-block p {
    font-size: 18px; }
  /* line 562, ../scss/tablet.scss */
  .burry-tach-header-full .burry-tach-header-centered .site-pads .header-right {
    float: right;
    width: 40%; }
  /* line 565, ../scss/tablet.scss */
  .burry-tach-header-full .burry-tach-header-centered .site-pads .header-right ul {
    margin: 10px 0 0 0; }
  /* line 567, ../scss/tablet.scss */
  .burry-tach-header-full .burry-tach-header-centered .site-pads .header-right ul li {
    font-size: 20px; }

  /* line 575, ../scss/tablet.scss */
  .meet-match-bar-full {
    min-width: 767px;
    padding: 15px 0 23px; }
  /* line 579, ../scss/tablet.scss */
  .meet-match-bar-full .meet-match-bar-centered .site-pads {
    text-align: center; }
  /* line 581, ../scss/tablet.scss */
  .meet-match-bar-full .meet-match-bar-centered .site-pads p {
    float: none;
    font-size: 18px; }
  /* line 585, ../scss/tablet.scss */
  .meet-match-bar-full .meet-match-bar-centered .site-pads .red-btn {
    display: block;
    float: none;
    margin: 5px auto 0;
    text-align: center;
    width: 50%; }

  /* line 595, ../scss/tablet.scss */
  .burry-tach-content-full {
    min-width: 767px; }
  /* line 601, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads {
    padding: 27px; }
  /* line 603, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .content-left {
    float: left;
    margin-bottom: 20px; }
  /* line 606, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .content-left .title-location {
    margin-left: 20px; }
  /* line 608, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .content-left .title-location h3 {
    margin-top: 10px; }
  /* line 613, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .campaign-meter {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto; }
  /* line 625, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .tach-amount {
    width: 100%;
    float: none; }
  /* line 630, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .tach-amount form ul li {
    width: 32%; }
  /* line 632, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .tach-amount form ul li input {
    width: auto; }
  /* line 637, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .tach-amount form ul li:nth-child(1) input, .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .tach-amount form ul li:nth-child(2) input {
    width: 73%; }
  /* line 642, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .tach-amount form ul li:nth-child(3) input {
    width: 100%; }
  /* line 654, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-block .burry-tach-block-pads {
    padding: 27px; }
  /* line 656, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-block .burry-tach-block-pads .spledgehammer-form {
    margin-left: 15px;
    width: 80%; }
  /* line 663, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-block .burry-tach-block-pads .spledgehammer-form form ul li:nth-child(3) textarea {
    width: 96%; }
  /* line 675, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box-completed .main-content-block .main-content-pads {
    padding: 27px; }
  /* line 677, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box-completed .main-content-block .main-content-pads .content-left {
    float: left;
    margin-bottom: 20px; }
  /* line 680, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box-completed .main-content-block .main-content-pads .content-left .title-location {
    margin-left: 20px; }
  /* line 682, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box-completed .main-content-block .main-content-pads .content-left .title-location h3 {
    margin-top: 10px; }
  /* line 687, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box-completed .main-content-block .main-content-pads .campaign-meter {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto; }
  /* line 695, ../scss/tablet.scss */
  .burry-tach-content-full .burry-tach-content-centered .site-pads .burry-tach-box-completed .main-content-block .special-thanks-block .speical-thanks-content {
    padding: 10px 20px 15px;
    width: auto; }

  /*-------------- Campaign Dashboard --------------*/
  /* line 708, ../scss/tablet.scss */
  .total-campaign-earnings-full {
    min-width: 767px; }
  /* line 712, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads h1 {
    font-size: 40px; }
  /* line 715, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .date-range-block {
    float: none; }
  /* line 718, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .range-campaigns {
    float: none;
    margin-top: 15px; }
  /* line 722, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .range-campaigns form .calander-dates {
    margin-right: 0; }
  /* line 724, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .range-campaigns form .calander-dates:before {
    position: relative;
    top: 5px; }
  /* line 732, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .campaign-earnings .earnings-left {
    width: 42%; }
  /* line 735, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .campaign-earnings .earnings-right {
    width: 56%; }
  /* line 737, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .campaign-earnings .earnings-right .status-to-date-bar {
    width: 93%; }
  /* line 740, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .campaign-earnings .earnings-right .status-to-date-bar .date-goal-block .date-goal-txt {
    font-size: 23px; }
  /* line 742, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .campaign-earnings .earnings-right .status-to-date-bar .date-goal-block .date-goal-txt span {
    font-size: 35px; }
  /* line 749, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .campaign-earnings .earnings-right .status-to-date-bar .performance-block ul li {
    float: none; }
  /* line 751, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .campaign-earnings .earnings-right .status-to-date-bar .performance-block ul li:first-child {
    border-right: none; }
  /* line 754, ../scss/tablet.scss */
  .total-campaign-earnings-full .total-campaign-earnings-centered .site-pads .campaign-earnings .earnings-right .status-to-date-bar .performance-block ul li:last-child {
    float: none;
    padding-left: 0; }

  /* line 771, ../scss/tablet.scss */
  .top-spledgers-full .top-spledgers-centered .site-pads .top-spledger-list > li {
    width: 48%; }
  /* line 773, ../scss/tablet.scss */
  .top-spledgers-full .top-spledgers-centered .site-pads .top-spledger-list > li .spledge-img-info {
    padding: 20px 28px; }
  /* line 775, ../scss/tablet.scss */
  .top-spledgers-full .top-spledgers-centered .site-pads .top-spledger-list > li .spledge-img-info .cat-icon {
    width: 50px;
    height: auto; }

  /* line 786, ../scss/tablet.scss */
  .campaign-dashboard .top-spledgers-full {
    min-width: 767px; }

  /* line 790, ../scss/tablet.scss */
  .campaigns-selected-full {
    min-width: 767px; }
  /* line 796, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate {
    width: 48%; }
  /* line 800, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate .canidate-content .canidate-pads h2 {
    font-size: 26px; }
  /* line 804, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate .canidate-content .canidate-pads .logo-description-block > a {
    max-width: 124px;
    width: 35%;
    height: auto; }
  /* line 808, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate .canidate-content .canidate-pads .logo-description-block > a img {
    width: 100%;
    height: auto; }
  /* line 814, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate .canidate-content .canidate-pads .canidate-name-block {
    float: left !important;
    padding-left: 10px !important;
    width: 60%; }
  /* line 818, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate .canidate-content .canidate-pads .canidate-name-block h3 {
    font-size: 23px; }
  /* line 822, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate .canidate-content .canidate-pads .canidate-name-block .timer-view-block li {
    font-size: 19px !important; }
  /* line 824, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate .canidate-content .canidate-pads .canidate-name-block .timer-view-block li a {
    top: 1px !important; }
  /* line 831, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate .canidate-content .canidate-pads .date-goal-block .date-goal-txt {
    font-size: 20px !important; }
  /* line 833, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate .canidate-content .canidate-pads .date-goal-block .date-goal-txt span {
    font-size: 30px; }
  /* line 840, ../scss/tablet.scss */
  .campaigns-selected-full .campaigns-selected-centered .site-pads .campaign-full-block .campaign-block-row .difference-candiate .canidate-content .canidate-pads .performance-block ul li {
    float: none !important;
    border: none !important;
    padding-left: 0 !important; }

  /*-------------- Campaign Landing --------------*/
  /* line 858, ../scss/tablet.scss */
  .campaign-header-info-full {
    height: auto;
    padding-top: 25px; }
  /* line 867, ../scss/tablet.scss */
  .campaign-header-info-full .campaign-header-info-centered .site-pads .campaign-main-content .campaign-titles-social-block .recent-activity .recent-activity-list .activity-slide {
    width: 100%; }
  /* line 869, ../scss/tablet.scss */
  .campaign-header-info-full .campaign-header-info-centered .site-pads .campaign-main-content .campaign-titles-social-block .recent-activity .recent-activity-list .activity-slide > li {
    width: 33%;
    padding: 0;
    text-align: center; }
  /* line 873, ../scss/tablet.scss */
  .campaign-header-info-full .campaign-header-info-centered .site-pads .campaign-main-content .campaign-titles-social-block .recent-activity .recent-activity-list .activity-slide > li .avatar {
    float: none; }
  /* line 876, ../scss/tablet.scss */
  .campaign-header-info-full .campaign-header-info-centered .site-pads .campaign-main-content .campaign-titles-social-block .recent-activity .recent-activity-list .activity-slide > li .recent-activity-content {
    float: none; }
  /* line 880, ../scss/tablet.scss */
  .campaign-header-info-full .campaign-header-info-centered .site-pads .campaign-main-content .campaign-titles-social-block .recent-activity .recent-activity-list .activity-slide > li .recent-activity-content .location-time li, .campaign-header-info-full .campaign-header-info-centered .site-pads .campaign-main-content .campaign-titles-social-block .recent-activity .recent-activity-list .activity-slide > li .recent-activity-content .spledge-cats li {
    float: none;
    display: inline-block; }

  /* line 895, ../scss/tablet.scss */
  .status-to-date-full {
    min-width: 767px; }
  /* line 900, ../scss/tablet.scss */
  .status-to-date-full .status-to-date-centered .site-pads .status-info-block .status-left {
    width: 42%; }
  /* line 903, ../scss/tablet.scss */
  .status-to-date-full .status-to-date-centered .site-pads .status-info-block .status-right {
    width: 56%; }
  /* line 906, ../scss/tablet.scss */
  .status-to-date-full .status-to-date-centered .site-pads .status-info-block .status-right .spledge-info li {
    margin-bottom: 10px; }
  /* line 910, ../scss/tablet.scss */
  .status-to-date-full .status-to-date-centered .site-pads .status-info-block .status-right .status-to-date-bar {
    width: 93%; }
  /* line 914, ../scss/tablet.scss */
  .status-to-date-full .status-to-date-centered .site-pads .status-info-block .status-right .status-to-date-bar .performance-block ul li {
    float: none; }
  /* line 916, ../scss/tablet.scss */
  .status-to-date-full .status-to-date-centered .site-pads .status-info-block .status-right .status-to-date-bar .performance-block ul li:first-child {
    border-right: none; }
  /* line 919, ../scss/tablet.scss */
  .status-to-date-full .status-to-date-centered .site-pads .status-info-block .status-right .status-to-date-bar .performance-block ul li:last-child {
    float: none;
    padding-left: 0; }

  /* line 932, ../scss/tablet.scss */
  .campaign-overview-full {
    min-width: 767px; }
  /* line 936, ../scss/tablet.scss */
  .campaign-overview-full .campaign-overview-centered .site-pads .overview-block, .campaign-overview-full .campaign-overview-centered .site-pads .goals-purpose-block {
    width: 48%; }
  /* line 941, ../scss/tablet.scss */
  .campaign-overview-full .campaign-overview-centered .site-pads .goals-purpose-block img {
    max-width: 396px;
    width: 100%;
    height: auto; }

  /* line 950, ../scss/tablet.scss */
  .performance-to-date-full {
    min-width: 767px; }
  /* line 955, ../scss/tablet.scss */
  .performance-to-date-full .performance-to-date-centered .site-pads .performance-row .performance-block {
    width: 48%; }
  /* line 959, ../scss/tablet.scss */
  .performance-to-date-full .performance-to-date-centered .site-pads .performance-row .performance-block .performance-pads .countdown-block .goal-date-block {
    float: none;
    width: 100%;
    text-align: center; }
  /* line 963, ../scss/tablet.scss */
  .performance-to-date-full .performance-to-date-centered .site-pads .performance-row .performance-block .performance-pads .countdown-block .goal-date-block li {
    float: none;
    display: inline-block; }
  /* line 968, ../scss/tablet.scss */
  .performance-to-date-full .performance-to-date-centered .site-pads .performance-row .performance-block .performance-pads .countdown-block .spledge-count {
    float: none;
    width: 100%;
    text-align: center; }
  /* line 972, ../scss/tablet.scss */
  .performance-to-date-full .performance-to-date-centered .site-pads .performance-row .performance-block .performance-pads .countdown-block .spledge-count li {
    float: none;
    display: inline-block;
    width: 48%; }

  /* line 985, ../scss/tablet.scss */
  .top-spledgers-full {
    min-width: 767px; }
  /* line 991, ../scss/tablet.scss */
  .top-spledgers-full .top-spledgers-centered .site-pads .recent-news-block .recent-news-pads .news-left {
    width: 48%; }
  /* line 994, ../scss/tablet.scss */
  .top-spledgers-full .top-spledgers-centered .site-pads .recent-news-block .recent-news-pads .post-thumbnail {
    margin-top: 85px;
    max-width: 442px;
    width: 48%;
    height: auto; }

  /*-------------- Campaign Overview --------------*/
  /* line 1008, ../scss/tablet.scss */
  .overview-block-full {
    min-width: 767px; }
  /* line 1015, ../scss/tablet.scss */
  .overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info {
    width: 95%;
    margin: 15px 0 0 0;
    background: none; }
  /* line 1019, ../scss/tablet.scss */
  .overview-block-full .overview-block-centered .site-pads .single-over-blocks .overview-block .overview-pads .overview-main-info .overview-main-pads {
    padding-left: 0; }

  /*-------------- Campaign Performance --------------*/
  /* line 1032, ../scss/tablet.scss */
  .performance-block-full {
    min-width: 767px; }
  /* line 1039, ../scss/tablet.scss */
  .performance-block-full .performance-block-centered .site-pads .single-over-blocks .performance-block .performance-pads .performance-main-info {
    width: 95%;
    margin: 15px 0 0 0;
    background: none; }
  /* line 1043, ../scss/tablet.scss */
  .performance-block-full .performance-block-centered .site-pads .single-over-blocks .performance-block .performance-pads .performance-main-info .performance-main-pads {
    padding-left: 0; }

  /* line 1053, ../scss/tablet.scss */
  .performance-block-filter-full {
    min-width: 767px; }
  /* line 1059, ../scss/tablet.scss */
  .performance-block-filter-full .performance-block-filter-centered .site-pads .performance-single-boxes .performance-row .performance-block {
    width: 100%;
    float: none !important;
    margin-bottom: 15px; }

  /*-------------- Campaigns --------------*/
  /* line 1072, ../scss/tablet.scss */
  .campagin-header-full {
    min-width: 767px; }
  /* line 1074, ../scss/tablet.scss */
  .campagin-header-full .campagin-img-full {
    height: auto;
    padding: 25px 0; }
  /* line 1080, ../scss/tablet.scss */
  .campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full {
    width: auto;
    margin-top: 140px; }
  /* line 1084, ../scss/tablet.scss */
  .campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads h1 {
    float: none;
    text-align: center; }
  /* line 1088, ../scss/tablet.scss */
  .campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads #campaign-form {
    border-bottom: 1px solid #a7a29a;
    float: none;
    margin: 15px auto 0;
    width: 84%; }
  /* line 1093, ../scss/tablet.scss */
  .campagin-header-full .campagin-img-full .campagin-centered .site-pads .campagin-header-content .campaign-box-full .campaign-box-pads #campaign-form input {
    float: none !important;
    display: inline-block;
    border-bottom: none !important; }

  /* line 1106, ../scss/tablet.scss */
  .campagin-blocks-full {
    min-width: 767px; }
  /* line 1111, ../scss/tablet.scss */
  .campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block {
    width: 48%; }
  /* line 1114, ../scss/tablet.scss */
  .campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .logo-holder {
    display: block;
    margin: 0 auto 10px;
    float: none;
    text-align: center; }
  /* line 1120, ../scss/tablet.scss */
  .campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info {
    float: none;
    width: 100%; }
  /* line 1123, ../scss/tablet.scss */
  .campagin-blocks-full .campagin-blocks-centered .site-pads .campaign-row .campagin-block .campagin-content .campaign-info h3 {
    text-align: center; }

  /*-------------- Speldgers --------------*/
  /* line 1136, ../scss/tablet.scss */
  .find-spledger-full {
    min-width: 767px; }
  /* line 1140, ../scss/tablet.scss */
  .find-spledger-full .find-spledger-centered .site-pads h2 {
    float: none;
    text-align: center; }
  /* line 1144, ../scss/tablet.scss */
  .find-spledger-full .find-spledger-centered .site-pads #find-spedger {
    float: none;
    width: 100%; }
  /* line 1147, ../scss/tablet.scss */
  .find-spledger-full .find-spledger-centered .site-pads #find-spedger .enter-name {
    float: none; }
  /* line 1150, ../scss/tablet.scss */
  .find-spledger-full .find-spledger-centered .site-pads #find-spedger button {
    float: right; }

  /* line 1157, ../scss/tablet.scss */
  .top-spledgers-full-popup {
    min-width: 767px; }
  /* line 1162, ../scss/tablet.scss */
  .top-spledgers-full-popup .top-spledgers-centered .site-pads .top-spledger-list > li {
    width: 48%; }
  /* line 1164, ../scss/tablet.scss */
  .top-spledgers-full-popup .top-spledgers-centered .site-pads .top-spledger-list > li .spledge-img-info {
    padding: 20px 23px; }
  /* line 1166, ../scss/tablet.scss */
  .top-spledgers-full-popup .top-spledgers-centered .site-pads .top-spledger-list > li .spledge-img-info .cat-icon {
    width: 50px;
    height: auto; }

  /* line 1178, ../scss/tablet.scss */
  .popup-block .top-spledger-list-popup > li {
    width: auto; }

  /*-------------- Get Stated --------------*/
  /* line 1186, ../scss/tablet.scss */
  .get-started-full {
    min-width: 767px; }
  /* line 1188, ../scss/tablet.scss */
  .get-started-full .get-started-img {
    min-height: 0;
    padding: 60px 0 80px; }
  /* line 1193, ../scss/tablet.scss */
  .get-started-full .get-started-img .get-started-centered .site-pads .get-started-intro {
    margin-top: 0; }
  /* line 1196, ../scss/tablet.scss */
  .get-started-full .get-started-img .get-started-centered .site-pads .sign-up-container {
    width: auto;
    margin-bottom: 0; }
  /* line 1199, ../scss/tablet.scss */
  .get-started-full .get-started-img .get-started-centered .site-pads .sign-up-container .sign-up-block {
    width: 48%; }
  /* line 1203, ../scss/tablet.scss */
  .get-started-full .get-started-img .get-started-centered .site-pads .sign-up-container .sign-up-block .title-block .title-pads h2 {
    font-size: 27px; }
  /* line 1210, ../scss/tablet.scss */
  .get-started-full .get-started-img .get-started-centered .site-pads .sign-up-container .sign-up-block .get-started-list li img {
    position: relative;
    top: auto;
    right: auto; }

  /*-------------- How it works --------------*/
  /* line 1226, ../scss/tablet.scss */
  .video-full {
    min-width: 767px; }
  /* line 1228, ../scss/tablet.scss */
  .video-full .video-holder-img {
    height: auto;
    padding: 60px 0 10px 0; }
  /* line 1233, ../scss/tablet.scss */
  .video-full .video-holder-img .video-centered .site-pads .video-content {
    margin-top: 0; }

  /* line 1240, ../scss/tablet.scss */
  .how-it-works-info-full {
    min-width: 767px; }
  /* line 1244, ../scss/tablet.scss */
  .how-it-works-info-full .how-it-works-info-centered .site-pads .how-it-works-img {
    right: 15px;
    max-width: 245px;
    width: 30%;
    height: auto; }

  /* line 1253, ../scss/tablet.scss */
  .easy-steps-full {
    min-width: 767px; }
  /* line 1257, ../scss/tablet.scss */
  .easy-steps-full .easy-steps-centered .site-pads h2 {
    margin: 40px 0; }
  /* line 1260, ../scss/tablet.scss */
  .easy-steps-full .easy-steps-centered .site-pads .easy-steps {
    margin-bottom: 40px; }
  /* line 1262, ../scss/tablet.scss */
  .easy-steps-full .easy-steps-centered .site-pads .easy-steps li {
    margin-right: 50px; }
  /* line 1266, ../scss/tablet.scss */
  .easy-steps-full .easy-steps-centered .site-pads .easy-step-btn-container {
    margin-bottom: 40px; }

  /*-------------- Meet your match --------------*/
  /* line 1275, ../scss/tablet.scss */
  .meet-match-header-full {
    min-width: 767px;
    margin-top: 0;
    padding: 30px 0; }
  /* line 1282, ../scss/tablet.scss */
  .meet-match-header-full .meet-match-header-centered .site-pads .header-left img {
    width: 100px;
    height: auto; }
  /* line 1286, ../scss/tablet.scss */
  .meet-match-header-full .meet-match-header-centered .site-pads .header-left .title-intro-block {
    padding-left: 15px;
    width: 41%; }
  /* line 1289, ../scss/tablet.scss */
  .meet-match-header-full .meet-match-header-centered .site-pads .header-left .title-intro-block h1 {
    font-size: 40px; }
  /* line 1292, ../scss/tablet.scss */
  .meet-match-header-full .meet-match-header-centered .site-pads .header-left .title-intro-block p {
    font-size: 18px; }
  /* line 1297, ../scss/tablet.scss */
  .meet-match-header-full .meet-match-header-centered .site-pads .header-right {
    float: right;
    width: 40%; }
  /* line 1300, ../scss/tablet.scss */
  .meet-match-header-full .meet-match-header-centered .site-pads .header-right ul {
    margin: 10px 0 0 0; }
  /* line 1302, ../scss/tablet.scss */
  .meet-match-header-full .meet-match-header-centered .site-pads .header-right ul li {
    font-size: 20px; }

  /* line 1310, ../scss/tablet.scss */
  .meet-match-content-full {
    min-width: 767px; }
  /* line 1316, ../scss/tablet.scss */
  .meet-match-content-full .meet-match-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads {
    padding: 27px; }
  /* line 1320, ../scss/tablet.scss */
  .meet-match-content-full .meet-match-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .content-left .title-location h3 {
    margin: 15px 0; }
  /* line 1325, ../scss/tablet.scss */
  .meet-match-content-full .meet-match-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .campaign-meter {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto 0; }
  /* line 1331, ../scss/tablet.scss */
  .meet-match-content-full .meet-match-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .match-amount {
    width: auto;
    float: none; }
  /* line 1336, ../scss/tablet.scss */
  .meet-match-content-full .meet-match-content-centered .site-pads .burry-tach-box .main-content-block .main-content-pads .match-amount form ul li {
    margin-right: 4%; }
  /* line 1347, ../scss/tablet.scss */
  .meet-match-content-full .meet-match-content-centered .site-pads .burry-tach-block .burry-tach-block-pads .meet-match-form {
    margin-left: 130px; }

  /*-------------- Programs --------------*/
  /* line 1358, ../scss/tablet.scss */
  .program-header-full {
    min-width: 767px; }
  /* line 1362, ../scss/tablet.scss */
  .program-header-full .program-img-full .program-centered .site-pads {
    padding-top: 10px; }
  /* line 1364, ../scss/tablet.scss */
  .program-header-full .program-img-full .program-centered .site-pads .program-header-content {
    width: 67%;
    margin-left: 40px; }
  /* line 1367, ../scss/tablet.scss */
  .program-header-full .program-img-full .program-centered .site-pads .program-header-content p {
    width: auto; }

  /* line 1375, ../scss/tablet.scss */
  .programs-available-full {
    min-width: 767px; }
  /* line 1381, ../scss/tablet.scss */
  .programs-available-full .programs-available-centered .site-pads .available-rows-block ul li {
    width: 24%;
    float: none;
    display: inline-block; }
  /* line 1385, ../scss/tablet.scss */
  .programs-available-full .programs-available-centered .site-pads .available-rows-block ul li a {
    width: 100%; }
  /* line 1387, ../scss/tablet.scss */
  .programs-available-full .programs-available-centered .site-pads .available-rows-block ul li a img {
    width: 100%;
    max-width: 207px;
    height: auto; }

  /* line 1399, ../scss/tablet.scss */
  .programs-single-full {
    min-width: 767px; }
  /* line 1405, ../scss/tablet.scss */
  .programs-single-full .programs-single-centered .site-pads .single-programs-blocks .program-block .program-pads {
    padding: 15px; }
  /* line 1407, ../scss/tablet.scss */
  .programs-single-full .programs-single-centered .site-pads .single-programs-blocks .program-block .program-pads .image-holder {
    float: none;
    text-align: center;
    padding-bottom: 15px; }
  /* line 1412, ../scss/tablet.scss */
  .programs-single-full .programs-single-centered .site-pads .single-programs-blocks .program-block .program-pads .program-main-info {
    margin-left: 0;
    width: auto;
    background: none; }

  /*-------------- Spledge --------------*/
  /* line 1426, ../scss/tablet.scss */
  .spledge-header-full {
    min-width: 767px;
    margin-top: 0; }
  /* line 1432, ../scss/tablet.scss */
  .spledge-header-full .spledge-header-centered .site-pads .spledge-header-pads .spledge-header-left {
    float: none;
    margin: 0 auto 20px;
    overflow: auto; }
  /* line 1437, ../scss/tablet.scss */
  .spledge-header-full .spledge-header-centered .site-pads .spledge-header-pads .spledge-header-right {
    float: none;
    clear: both; }
  /* line 1440, ../scss/tablet.scss */
  .spledge-header-full .spledge-header-centered .site-pads .spledge-header-pads .spledge-header-right .status-to-date-bar {
    width: 71%; }

  /* line 1449, ../scss/tablet.scss */
  .confirm-programs-full {
    min-width: 767px; }
  /* line 1454, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .over-under-saftey .saftey-left {
    width: auto; }
  /* line 1457, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .over-under-saftey .saftey-right {
    float: left;
    margin-top: 30px; }
  /* line 1462, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .shoutout-block {
    width: auto; }
  /* line 1469, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .select-program-block .program-block-full .program-content-block .program-content-pads .logo-title-block {
    float: none;
    width: auto;
    overflow: auto; }
  /* line 1474, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .select-program-block .program-block-full .program-content-block .program-content-pads .program-table-block {
    float: none;
    margin-bottom: 20px; }
  /* line 1477, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .select-program-block .program-block-full .program-content-block .program-content-pads .program-table-block table {
    width: 100%; }
  /* line 1483, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .select-program-block .program-block-full .program-content-block .program-content-pads .slider-block h4 span {
    font-size: 31px; }
  /* line 1487, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .select-program-block .program-block-full .program-content-block .program-content-pads .slider-block .active-total-block {
    position: relative;
    overflow: auto;
    top: auto;
    right: auto; }
  /* line 1499, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .over-under-saftey .saftey-left {
    width: 100%; }
  /* line 1501, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .over-under-saftey .saftey-left .photo-block {
    float: none;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #959595; }
  /* line 1507, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .over-under-saftey .saftey-left .over-under-block {
    border: none;
    width: 100%; }
  /* line 1511, ../scss/tablet.scss */
  .confirm-programs-full .confirm-programs-centered .site-pads .over-under-saftey .saftey-left .over-under-block .over-under .over-under-pads {
    padding: 15px 108px; }

  /*-------------- Spledgehammers --------------*/
  /* line 1524, ../scss/tablet.scss */
  .spledgehammer-header-full {
    min-width: 767px;
    margin-top: 0;
    padding: 30px 0; }
  /* line 1531, ../scss/tablet.scss */
  .spledgehammer-header-full .spledgehammer-header-centered .site-pads .header-left img {
    width: 100px;
    height: auto; }
  /* line 1535, ../scss/tablet.scss */
  .spledgehammer-header-full .spledgehammer-header-centered .site-pads .header-left .title-intro-block {
    padding-left: 15px;
    width: 41%; }
  /* line 1538, ../scss/tablet.scss */
  .spledgehammer-header-full .spledgehammer-header-centered .site-pads .header-left .title-intro-block h1 {
    font-size: 40px; }
  /* line 1541, ../scss/tablet.scss */
  .spledgehammer-header-full .spledgehammer-header-centered .site-pads .header-left .title-intro-block p {
    font-size: 18px; }
  /* line 1546, ../scss/tablet.scss */
  .spledgehammer-header-full .spledgehammer-header-centered .site-pads .header-right {
    float: right;
    width: 40%; }
  /* line 1549, ../scss/tablet.scss */
  .spledgehammer-header-full .spledgehammer-header-centered .site-pads .header-right ul {
    margin: 10px 0 0 0; }
  /* line 1551, ../scss/tablet.scss */
  .spledgehammer-header-full .spledgehammer-header-centered .site-pads .header-right ul li {
    font-size: 20px; }

  /* line 1559, ../scss/tablet.scss */
  .spledgehammer-steps-full {
    min-width: 767px; }
  /* line 1563, ../scss/tablet.scss */
  .spledgehammer-steps-full .spledgehammer-steps-centered .site-pads .spledgehammer-coin-img {
    display: block;
    float: none;
    margin: 0 auto; }
  /* line 1568, ../scss/tablet.scss */
  .spledgehammer-steps-full .spledgehammer-steps-centered .site-pads ul {
    display: block;
    float: none;
    text-align: center; }
  /* line 1572, ../scss/tablet.scss */
  .spledgehammer-steps-full .spledgehammer-steps-centered .site-pads ul li {
    float: none;
    display: inline-block; }

  /* line 1580, ../scss/tablet.scss */
  .spledgehammer-freinds-family-full {
    min-width: 767px; }
  /* line 1586, ../scss/tablet.scss */
  .spledgehammer-freinds-family-full .spledgehammer-freinds-family-centered .site-pads .spledgehammer-challenege-others-box .main-content-block .main-content-pads {
    padding: 27px; }
  /* line 1588, ../scss/tablet.scss */
  .spledgehammer-freinds-family-full .spledgehammer-freinds-family-centered .site-pads .spledgehammer-challenege-others-box .main-content-block .main-content-pads .content-left {
    float: left;
    margin-bottom: 20px; }
  /* line 1591, ../scss/tablet.scss */
  .spledgehammer-freinds-family-full .spledgehammer-freinds-family-centered .site-pads .spledgehammer-challenege-others-box .main-content-block .main-content-pads .content-left .title-location {
    margin-left: 20px; }
  /* line 1593, ../scss/tablet.scss */
  .spledgehammer-freinds-family-full .spledgehammer-freinds-family-centered .site-pads .spledgehammer-challenege-others-box .main-content-block .main-content-pads .content-left .title-location h3 {
    margin-top: 10px; }
  /* line 1598, ../scss/tablet.scss */
  .spledgehammer-freinds-family-full .spledgehammer-freinds-family-centered .site-pads .spledgehammer-challenege-others-box .main-content-block .main-content-pads .campaign-meter {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto; }

  /*-------------- Support Options --------------*/
  /* line 1613, ../scss/tablet.scss */
  .support-options-full {
    min-width: 767px; }

  /* line 1616, ../scss/tablet.scss */
  .support-options-selections-full {
    min-width: 767px; }

  /*-------------- Footer --------------*/
  /* line 1622, ../scss/tablet.scss */
  footer {
    min-width: 767px; }
  /* line 1625, ../scss/tablet.scss */
  footer .footer-main-full .get-started-info {
    width: 30%;
    margin-right: 15px; }
  /* line 1629, ../scss/tablet.scss */
  footer .footer-main-full .get-involved-block {
    width: 32%; }
  /* line 1632, ../scss/tablet.scss */
  footer .footer-main-full .get-involved-block ul li {
    margin-right: 6%; }
  /* line 1638, ../scss/tablet.scss */
  footer .footer-main-full .stay-connected-block .stay-conected-content {
    float: none; }
  /* line 1641, ../scss/tablet.scss */
  footer .footer-main-full .stay-connected-block .stay-conected-content #newsletter-form .newsletter-input {
    width: 155px; }
  /* line 1644, ../scss/tablet.scss */
  footer .footer-main-full .stay-connected-block .stay-conected-content #newsletter-form .red-btn {
    padding: 9px 10px; }
  /* line 1649, ../scss/tablet.scss */
  footer .footer-main-full .stay-connected-block .social-icons {
    float: none;
    margin: 10px 0 0 0; }
  /* line 1652, ../scss/tablet.scss */
  footer .footer-main-full .stay-connected-block .social-icons li {
    float: left;
    margin: 0 10px 0 0; }
  /* line 1655, ../scss/tablet.scss */
  footer .footer-main-full .stay-connected-block .social-icons li:last-child {
    margin-right: 0; } }
